# This group is read both both by the client and the server
[client-server]

port					= 3306
socket					= /var/run/mysqld/mysqld.sock

# include all files from the config directory
!includedir /etc/my.cnf.d
